body{
    background: url(https://pixabay.com/get/g07f65d2eb1cc66cbc61794836a7ebdff374725915a0ff9b550e10a3df91ef32dfe80050c509680685d3c6b7c19b8956715542f4f449e8756a6e69e5258f84767a7835c4abe7479ff86da3eeeb35dab70_1920.jpg) no-repeat center center fixed;
}

.header{
    color: #FAC213;
    font-size: 2em;
}

.ortala{
    text-align: center;
}

.paragraf{
    color: darkgreen;
}

.background{
    background-color: darkgoldenrod;
}

.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}